<!DOCTYPE html>
<html lang="en">

<head>
    <title>Enrolled Courses</title>

    <meta charset="utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>

<body>
    <div class="container">
        <div class="container mt-5">
            <mat-grid-list cols="2" rowHeight="300px">
            <mat-grid-tile *ngFor="let course of myCourseList">
            <div class="card w-100" style="margin: 10px; padding: 10px;">
                <div class="card-body">
                    <h3 class="card-title">{{course.title}}</h3>
                    <h4 class="card-subtitle mb-2 text-muted">Instructor : {{course.teacher_id}}</h4>
                    <h5>Duration : {{course.start_date}} - {{course.end_date}}</h5>
                    <h5 class="card-text">{{course.description}}</h5>
                    <button routerLink="/teacherCourse" (click)="es.setSelectedCourse(course.course_id)" class="btn btn-primary">View Details</button>
                </div>
            </div>
            </mat-grid-tile>
            </mat-grid-list>
        </div>   
    </div>
</body>
