<!DOCTYPE html>
<html lang="en">

<head>
    <title>Courses Details</title>

    <meta charset="utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.4.0/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-KyZXEAg3QhqLMpG8r+64dyZ0YeI7PDf5HYwb0TtxfZciv3zST2h3nYdC2CIJXA3F" crossorigin="anonymous">

<!-- Bootstrap JS and dependencies (popper.js and jQuery) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.4.0/dist/js/bootstrap.bundle.min.js"
integrity="sha384-nsoqNRE0Bn9oa4V0J7nJ5qTmvuTNrKre5aWK0EB0/z4PxAMSc6Xnqm92o7gMpvVY"
crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
        <div class="course-header">
          <!-- Course Image -->
        <img src="assets/getCertifiedImg.png" alt="Course Image" class="course-image">
          <!-- Course Title -->
          <h1 class="course-title">{{ es.selectedCourse.title }}</h1>
          <!-- Course Instructor -->
          <p class="course-instructor">Instructor: {{ es.teacher.first_name}} {{es.teacher.last_name}} </p>
          <!-- Course Rating -->
          <div class="course-rating">
            <mat-icon class="star-icon">star</mat-icon>
            <mat-icon class="star-icon">star</mat-icon>
            <mat-icon class="star-icon">star</mat-icon>
            <mat-icon class="star-icon">star</mat-icon>
            <mat-icon class="star-icon">star_border</mat-icon>
            <span class="rating-count">({{ 4 }})</span>
          </div>
        </div>
        <div class="additional-attributes">
            <p><strong>Attendance:</strong> {{attendance }} </p>
            <p><strong>Lectures Taken : </strong>{{es.selectedCourse.lectures_taken}}</p>
            <button type="button" routerLink="/upcomingTest" (click)="es.setSelectedCourseByStudent(es.selectedCourse.course_id)" class="btn btn-primary" style="margin: 10px; padding: 10px;">Upcoming Test</button>
            <button type="button" routerLink="/previousTest" (click)="es.setSelectedCourseByStudent(es.selectedCourse.course_id)" class="btn btn-success" style="margin: 10px; padding: 10px;">Previous Test</button>
            <button type="button" class="btn btn-info" style="margin: 10px; padding: 10px;">Forum</button>
          </div>
        <div class="course-content">
          <!-- Course Description -->
          <h2>Description</h2>
          <p class="course-description">{{ es.selectedCourse.description }}</p>
          <!-- Course Curriculum -->
          <h2>Curriculum</h2>
          <div class="curriculum-items">
            <!-- <div *ngIf="es.selectedCourse.syllabus">
              <h2>File Content:</h2>
              <pre>{{ es.selectedCourse.syllabus }}</pre>
            </div> -->
            <!-- <p class="course-description">{{ es.selectedCourse.syllabus }}</p> -->
            <!-- <div *ngFor="let item of course.curriculum" class="curriculum-item">
              <div class="item-number">{{ item.number }}</div>
              <div class="item-title">{{ item.title }}</div>
            </div> -->
          </div>
        </div>
      </div>
      
</body>