<!-- hero.component.html -->

<section class="hero">
    <div class="container">
      
        <div class="col-lg-12">
          <div class="hero-image">
            <!-- <img src="../../../assets/images/home.jpg" width="100%" alt="University Image"> -->
            <div class="overlay">
              
              <div class="row">
                <div class="col-md-12 col-lg-8 d-flex align-items-center justify-content-center"><div class="block">
                  <!-- Content for first column -->
                  <h2>Education for all</h2>
          <p>Discover endless possibilities for learning and growth.</p>
          <p>Welcome to our online university, where education knows no bounds. Our mission is simple: to bring top-tier education to all, regardless of location or background. With our innovative platform, students connect with renowned educators from the comfort of their own space, breaking barriers and fostering a global community of lifelong learners. Join us as we revolutionize education, empowering individuals worldwide to thrive in an ever-changing world</p>
         
          <a routerLink="/courses" class="btn btn-explore">Explore Courses</a>
                </div></div>
                
                
              </div>

              
            </div>
          </div>
        </div>
      </div>
    
  </section>
  