<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>teacher Profile</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
   
  </head>

  <body>
    <!-- <div class="page-content page-container" id="page-content">
      <div class="padding">
        <div class="row container d-flex justify-content-center">
          <div class="col-xl-6 col-md-12">
            <div class="card user-card-full">
              <div class="row m-l-0 m-r-0">
                <div class="col-sm-4 bg-c-lite-green user-profile">
                  <div class="card-block text-center text-white">
                    <div class="m-b-25">
                      <img
                        src="https://img.icons8.com/bubbles/100/000000/user.png"
                        class="img-radius"
                        alt="User-Profile-Image"
                      />
                    </div>
                    <h6 class="f-w-600"><input class="text-center text-dark" type="text" name="first_name" [disabled]="flag" [(ngModel)]="teacher.first_name"> <input class="text-center text-dark" type="text" name="last_name" [disabled]="flag" [(ngModel)]="teacher.last_name"></h6>
                    <p><input class="text-center text-dark" type="text" name="roll_no" [disabled]="flag" [(ngModel)]="teacher.roll_no"></p>
                    <p><input class="text-center text-dark" type="text" name="standard" [disabled]="flag" [(ngModel)]="teacher.standard"></p>
                  </div>
                </div>
                <div class="col-sm-8">
                  <div class="card-block">
                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600">
                      Information
                    </h6>
                    <div class="row">
                      <div class="col-sm-6">
                        <p class="m-b-10 f-w-600">Email</p>
                        <h6 class=" f-w-400"><input type="text" class="text-center text-dark" name="email" [disabled]="flag" [(ngModel)]="teacher.email"></h6>
                      </div>
                      <div class="col-sm-6">
                        <p class="m-b-10 f-w-600">Phone</p>
                        <h6 class="text-muted f-w-400"><input class="text-center text-dark" type="text" name="phone_number" [disabled]="flag" [(ngModel)]="teacher.phone_number"></h6>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <p class="m-b-10 f-w-600">date of birth</p>
                        <h6 class="text-muted f-w-400"><input class="text-center text-dark" type="text" name="dob" [disabled]="flag" [(ngModel)]="teacher.dob"></h6>
                      </div>
                      <div class="col-sm-6">
                        <p class="m-b-10 f-w-600">Gender</p>
                        <h6 class="text-muted f-w-400"><input class="text-center text-dark" type="text" name="gender" [disabled]="flag" [(ngModel)]="teacher.gender"></h6>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <p class="m-b-10 f-w-600">Address</p>
                        <h6 class="text-muted f-w-400"><input class="text-center text-dark" type="text" name="address" [disabled]="flag" [(ngModel)]="teacher.address"></h6>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                        <button class="btn btn-primary" (click)="allowEdit()"><span class="material-symbols-outlined">edit</span>edit</button>    
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-primary" (click)="onSubmit()"><span class="material-symbols-outlined">edit</span>Submit</button>    
                    </div>
                  </div>
                          
                           
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="container">
      <div class="main-body">
      
            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb" class="main-breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">User Profile</li>
              </ol>
            </nav>
            <!-- /Breadcrumb -->
      
            <div class="row gutters-sm">
              <div class="col-md-4 mb-3">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                      <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                      <div class="mt-3">
                        <!-- <h4>John Doe</h4>
                        <p class="text-secondary mb-1">Full Stack Developer</p> -->
                        <h4 class="f-w-600">first_name: <input class="text-center text-dark  border-0 border-bottom border-dark" type="text" name="first_name" [disabled]="flag" [(ngModel)]="teacher.first_name"> </h4>
                          <h4 class="f-w-600">last_name: <input class="text-center text-dark border-0 border-bottom border-dark" type="text" name="last_name" [disabled]="flag" [(ngModel)]="teacher.last_name"></h4>
                          <h4 class="f-w-600">position: <input class="text-center text-dark border-0 border-bottom border-dark" type="text" name="roll_no" [disabled]="flag" [(ngModel)]="teacher.position"></h4>
                      </div> 
                    </div>
                  </div>
                </div>
                <div class="card mt-3">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-3">
                        <h3 class="mb-0">Contacts</h3>
                      </div>
                      
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-3">
                        <h4 class="mb-0">Email</h4>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <h4 class=" f-w-600"><input type="text" class="text-center text-dark border-0 border-bottom border-dark" name="email" [disabled]="flag" [(ngModel)]="teacher.email"></h4>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h4 class="mb-0">phone</h4>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <h4 class="text-muted f-w-600"><input class="text-center text-dark border-0 border-bottom border-dark" type="text" name="phone_number" [disabled]="flag" [(ngModel)]="teacher.phone_number"></h4>
                      </div>
                    </div>
                   
                    
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-3">
                        <h3 class="mb-0">Information</h3>
                      </div>
                      
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-3">
                        <h4 class="mb-0">is_admin</h4>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <h4 class="f-w-600"><input class="text-center text-dark border-0 border-bottom border-dark" type="text" name="standard" [disabled]="flag" [(ngModel)]="teacher.is_admin"></h4>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h4 class="mb-0">dob</h4>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <h4 class="text-muted f-w-600"><input class="text-center text-dark border-0 border-bottom border-dark" type="text" name="dob" [disabled]="flag" [(ngModel)]="teacher.dob"></h4>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h4 class="mb-0">gender</h4>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <h4 class="text-muted f-w-600"><input class="text-center text-dark border-0 border-bottom border-dark" type="text" name="gender" [disabled]="flag" [(ngModel)]="teacher.gender"></h4>
                      </div>
                    </div>
                    <hr>
                    
                    <div class="row">
                      <div class="col-sm-3">
                        <h4 class="mb-0">Address</h4>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <h4 class="text-muted f-w-600"><input class="text-center text-dark border-0 border-bottom border-dark" type="text" name="address" [disabled]="flag" [(ngModel)]="teacher.address"></h4>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                          <button class="btn btn-primary" (click)="allowEdit()"><span class="material-symbols-outlined">edit</span>edit</button>    
                      </div>
                      <div class="col-sm-3">
                          <button class="btn btn-primary" (click)="onSubmit()"><span class="material-symbols-outlined">edit</span>Submit</button>    
                      </div>
                    </div>
                  </div>
                </div>
  
                <!-- <div class="row gutters-sm">
                  <div class="col-sm-6 mb-3">
                    <div class="card h-100">
                      <div class="card-body">
                        <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Project Status</h6>
                        <small>Web Design</small>
                        <div class="progress mb-3" style="height: 5px">
                          <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <small>Website Markup</small>
                        <div class="progress mb-3" style="height: 5px">
                          <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <small>One Page</small>
                        <div class="progress mb-3" style="height: 5px">
                          <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <small>Mobile Template</small>
                        <div class="progress mb-3" style="height: 5px">
                          <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <small>Backend API</small>
                        <div class="progress mb-3" style="height: 5px">
                          <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div> -->
              </div>
            </div>
  
          </div>
      </div>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
  </body>
</html>
