/* Selecting elements using classes */


* {
  background: #cccdcb;
  
  
}

/* Logo styles */
.logo {
  color: #333432;
  font-size: 24px;
  font-weight: bold;
}







/* Navigation styles */

/* Text light styles */
.text-light {
  font-size: medium;
  font-weight: 500;
  color: #333432 !important;/* White text color */
  text-decoration: none;
  margin-left: 5px;
}
