<!DOCTYPE html>
<html lang="en">

<head>
    <title>All Courses</title>

    <meta charset="utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- Bootstrap CSS
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.4.0/dist/css/bootstrap.min.css" rel="stylesheet"
   integrity="sha384-KyZXEAg3QhqLMpG8r+64dyZ0YeI7PDf5HYwb0TtxfZciv3zST2h3nYdC2CIJXA3F" crossorigin="anonymous"> -->
   
   <!-- Bootstrap JS and dependencies (popper.js and jQuery) -->
   <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.4.0/dist/js/bootstrap.bundle.min.js"
   integrity="sha384-nsoqNRE0Bn9oa4V0J7nJ5qTmvuTNrKre5aWK0EB0/z4PxAMSc6Xnqm92o7gMpvVY"
   crossorigin="anonymous"></script> -->
</head>

<body>
      <div class="container">
        <div class="grid">
            <div *ngFor="let course of allCourseList">
                <h3 class="card-title">{{course.title}}</h3>
                <h4 class="card-subtitle mb-2 text-muted">Instructor : {{course.teacher_id}}</h4>
                <h5>Duration : {{course.start_date | date}} - {{course.end_date | date}}</h5>
                <p class="card-text">{{course.description}}</p>
                <!-- <a href="#" class="btn btn-primary">View Now</a> -->
                <button class="btn btn-primary" [disabled]="flag" (click)="enrollStudentToCourse(course.course_id)">Enroll</button>
            </div>
        </div>
    </div>

 <!-- <button routerLink="/course" (click)="es.setSelectedCourse(course.course_id)" class="btn btn-primary">View Details</button> -->

</body>
